

/* Estilos de app*/

.backgroundImg {
  background-image: url("./img/521111.jpg");
  background-size: cover;
  height: auto;
  min-height: 80vh;
  padding: 10px;

}

/* este que se llama herodes es el titulo de im herodes */
.herodes{

  font-size: 60px;
}
/* esto para poder darle un buen margin */
.marginModificado{
  margin-top: 150px;
}
/* Estilos Footer*/
.footer{
  background-color: rgb(26, 29, 32);
  height: 150px;
}


/* Estilos de la topbar */
.links{
  color: white !important;
  text-decoration: none !important;
}

.links:hover{

  color: gray !important;
  
}

.links {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.links:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: white;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.links:hover:before, .links:focus:before, .links:active:before {
  left: 0;
  right: 0;
}


